.mail-preview{
    background-color: #f8f9fa;
}

.mail-preview-container{
    background-color: #f8f9fa;
    display: flex;
    flex: 1;
}


.fullname{
    flex: 1;
}

.subject{
    flex: 1;
}

.sentaAt{
    flex: 1;
}

.btn-mail-perview{
    display: flex;
    font-size: 1em;
}

.btn-remove{
    background-color: transparent;
    border: none;
    
}

.btn-edit{
    background-color: transparent;
    border: none;
}