.mail-preview{
    background-color: #f8f9fa;
}

.mail-preview-container{
    background-color: #f8f9fa;
    display: flex;
    flex: 1;
}

.fullname{
    flex: 1;
}

.subject{
    flex: 3;
}

.sentaAt{
    flex: 1;
}

.btn-remove{
    background-color: #f2f6fc;
    border: none;
    color: rgb(107, 106, 106);
    cursor: pointer;
}

