/* Cmps */

@import '../cmps/mail-list.css';
@import '../cmps/mail-options.css';

.mail-container{
    display: flex;
    border-radius: 20px;
    height: 100vh;
}

.mail-header{
    padding: 10px;
    background-color: #f6f8fc;
}