/* Cmps */

@import '../cmps/mail-list.css';
@import '../cmps/mail-options.css';

.mail-container {
    display: flex;
    border-radius: 20px;
    height: calc(100vh - 122px);
}

.mail-header {
    padding: 10px;
    background-color: #f6f8fc;
}